* {
    margin: 0;
    padding: 0;
}

// Variáveis
$cor-primaria: #f9ed69;
$cor-secundaria: #f08a5d;
$cor-terciaria: #b83b5e;
$cor-texto-escuro: #333;
$cor-texto-claro: #eee;
$width-btn: 150px;

// Mixins - variáveis gigantes
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table; 
    }
}
@mixin texto-link ($cor) { // parametro
    font-family: 'SF Pro';
    text-decoration: none;
    text-transform: uppercase;
    color: $cor;
}

// Funções - não muito pratico
@function dividir ($a, $b) {
    @return $a / $b;
}

// Extends
%btn-placeholder {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    @include texto-link($cor-texto-claro);
    width: $width-btn;
}

nav {
    margin: dividir(60, 2) * 1px; // 30px
    background-color: $cor-primaria;
    @include clearfix(); // importando uma mixin
}

// Seletores Aninhados
.navigation {
    list-style: none;
    float: left;
    li {
        display: inline-block;
        margin-left: 30px;

        &:first-child { // & == this
            margin: 0;
        }

        a {
            @include texto-link($cor-texto-escuro);
        }
    }
}

.buttons {
    float: right;
}

.btn-main {
    &:link {
        @extend %btn-placeholder;
        background-color: $cor-secundaria;
    }
    &:hover {
        background-color: darken($cor-secundaria, 15%);
    }
}

.btn-hot {
    &:link {
        @extend %btn-placeholder;
        background-color: $cor-terciaria;
    }
    &:hover {
        background-color: lighten($cor-terciaria, 10%);
    }
}